<a href="https://colab.research.google.com/github/kacperob/PUM/blob/main/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import median_absolute_error

In [11]:
salary_df = pd.read_csv(r'/content/Salary Data (2).csv')

In [12]:
salary_df.shape

(375, 6)

In [26]:
for i in salary_df.columns:
  print(salary_df[i].value_counts())
  print('*'*50)

29.0    25
33.0    24
35.0    22
31.0    21
44.0    21
36.0    20
34.0    17
45.0    17
38.0    15
30.0    15
47.0    15
40.0    13
28.0    13
43.0    12
37.0    12
41.0    12
32.0    12
39.0    12
42.0    11
46.0    10
27.0     9
48.0     9
50.0     8
49.0     8
26.0     7
51.0     5
25.0     4
52.0     3
24.0     1
23.0     1
53.0     1
Name: Age, dtype: int64
**************************************************
1    196
0    179
Name: Gender, dtype: int64
**************************************************
0    226
1     98
2     51
Name: Education Level, dtype: int64
**************************************************
29     12
30     11
110    10
131     9
134     9
       ..
4       1
14      1
43      1
21      1
80      1
Name: Job Title, Length: 174, dtype: int64
**************************************************
2     32
3     30
8     25
9     22
4     20
1     20
16    18
10    18
7     18
5     17
15    16
12    15
19    15
18    13
14    13
20    13
21    13
6     12
13    11
11    10
22     9
17     5
0      4
25     3
23     2
24     1
Name: Years of Experience, dtype: int64
**************************************************
40000.0     32
50000.0     22
95000.0     22
180000.0    20
120000.0    20
90000.0     18
150000.0    18
45000.0     18
160000.0    17
60000.0     17
110000.0    17
170000.0    16
130000.0    14
100000.0    14
140000.0    14
35000.0     13
80000.0     12
55000.0     10
85000.0     10
70000.0      9
65000.0      9
105000.0     6
190000.0     4
75000.0      4
115000.0     3
250000.0     2
200000.0     2
135000.0     2
175000.0     2
350.0        2
125000.0     1
30000.0      1
220000.0     1
185000.0     1
145000.0     1
155000.0     1
Name: Salary, dtype: int64
**************************************************

In [15]:
salary_df.isna().any()

Age                    True
Gender                 True
Education Level        True
Job Title              True
Years of Experience    True
Salary                 True
dtype: bool

In [16]:
salary_df.fillna(method='pad', inplace=True)

In [17]:
salary_df[['Age','Years of Experience']] = salary_df[['Age','Years of Experience']].apply(lambda x: x.astype(int))

In [20]:
age_mean = salary_df[(salary_df['Age'] <= 100) & (salary_df['Age'] >= 1)]['Age'].mean()

37.38666666666666

In [21]:
salary_df['Age'] = salary_df['Age'].fillna(age_mean)
salary_df.loc[salary_df['Age'] >= 100, 'Age'] = age_mean
salary_df.loc[salary_df['Age'] < 1, 'Age'] = age_mean

In [23]:
le = LabelEncoder()

In [25]:
columns_to_code = ['Gender','Education Level','Job Title']

# dzięki apply możemy za jednym wywołaniem kodu wykonać daną operację na każdym elemencie z listy
salary_df[columns_to_code] = salary_df[columns_to_code].apply(LabelEncoder().fit_transform)

In [44]:
x_train, x_test, y_train, y_test = train_test_split( salary_df[['Age','Gender','Education Level','Job Title','Years of Experience']], salary_df['Salary'], test_size=0.33, random_state=42)

In [47]:
reg = LinearRegression().fit(x_train, y_train)
y_przewidywania =reg.predict(x_test)

In [49]:
mean_absolute_error(y_test,y_przewidywania)

10655.892049878197

In [52]:
median_absolute_error(y_test,y_przewidywania)

7107.919661770196