<a href="https://colab.research.google.com/github/kacperob/PUM/blob/main/pierwsze_zajecia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import math
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import train_test_split

In [76]:
df = pd.read_csv("train.csv")

<ipython-input-76-ef2ff63de291>:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

In [77]:
df.shape

(100000, 28)

In [78]:
df.drop_duplicates(subset="ID", inplace=True)

In [79]:
# Przekształcenie danych w poszczególnych kolumnach na określony typ
df['ID'] = df['ID'].astype(str)
df['Customer_ID'] = df['Customer_ID'].astype(str)
df['Month'] = df['Month'].astype(str)
df['Name'] = df['Name'].astype(str)

df['Age'] = df['Age'].astype(str)
df['Age'] = df['Age'].str.replace('_', '')
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Age'] = df['Age'].fillna(method = 'pad').astype(int)

df['SSN'] = df['SSN'].astype(str)
df['Occupation'] = df['Occupation'].astype(str)

df['Annual_Income'] = df['Annual_Income'].astype(str)
df['Annual_Income'] = df['Annual_Income'].str.replace('_', '')
df['Annual_Income'] = pd.to_numeric(df['Annual_Income'], errors='coerce')
df['Annual_Income'] = df['Annual_Income'].fillna(method = 'pad').astype(float)

df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].astype(str)
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].str.replace('_', '')
df['Monthly_Inhand_Salary'] = pd.to_numeric(df['Monthly_Inhand_Salary'], errors='coerce')
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].fillna(method = 'pad').astype(float)

df['Num_Bank_Accounts'] = df['Num_Bank_Accounts'].astype(str)
df['Num_Bank_Accounts'] = df['Num_Bank_Accounts'].str.replace('_', '')
df['Num_Bank_Accounts'] = pd.to_numeric(df['Num_Bank_Accounts'], errors='coerce')
df['Num_Bank_Accounts'] = df['Num_Bank_Accounts'].fillna(method = 'pad').astype(int)

df['Num_Credit_Card'] = df['Num_Credit_Card'].astype(str)
df['Num_Credit_Card'] = df['Num_Credit_Card'].str.replace('_', '')
df['Num_Credit_Card'] = df['Num_Credit_Card'].astype(int)

df['Interest_Rate'] = df['Interest_Rate'].astype(str)
df['Interest_Rate'] = df['Interest_Rate'].str.replace('_', '')
df['Interest_Rate'] = pd.to_numeric(df['Interest_Rate'], errors='coerce')
df['Interest_Rate'] = df['Interest_Rate'].fillna(method = 'pad').astype(float)

df['Num_of_Loan'] = df['Num_of_Loan'].astype(str)
df['Num_of_Loan'] = df['Num_of_Loan'].str.replace('_', '')
df['Num_of_Loan'] = pd.to_numeric(df['Num_of_Loan'], errors='coerce')
df['Num_of_Loan'] = df['Num_of_Loan'].fillna(method = 'pad').astype(int)

df['Type_of_Loan'] = df['Type_of_Loan'].astype(str)

df['Delay_from_due_date'] = df['Delay_from_due_date'].astype(str)
df['Delay_from_due_date'] = df['Delay_from_due_date'].str.replace('_', '')
df['Delay_from_due_date'] = pd.to_numeric(df['Delay_from_due_date'], errors='coerce')
df['Delay_from_due_date'] = df['Delay_from_due_date'].fillna(method = 'pad').astype(int)

df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].astype(str)
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].str.replace('_', '')
df['Num_of_Delayed_Payment'] = pd.to_numeric(df['Num_of_Delayed_Payment'], errors='coerce')
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].fillna(method = 'pad').astype(int)

df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].astype(str)
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].str.replace('_', '')
df['Changed_Credit_Limit'] = pd.to_numeric(df['Changed_Credit_Limit'], errors='coerce')
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].fillna(method = 'pad').astype(float)


df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].astype(str)
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].str.replace('_', '')
df['Num_Credit_Inquiries'] = pd.to_numeric(df['Num_Credit_Inquiries'], errors='coerce')
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].fillna(method = 'pad').astype(float)

df['Credit_Mix'] = df['Credit_Mix'].astype(str)

df['Outstanding_Debt'] = df['Outstanding_Debt'].astype(str)
df['Outstanding_Debt'] = df['Outstanding_Debt'].str.replace('_', '')
df['Outstanding_Debt'] = pd.to_numeric(df['Outstanding_Debt'], errors='coerce')
df['Outstanding_Debt'] = df['Outstanding_Debt'].fillna(method = 'pad').astype(float)

df['Credit_Utilization_Ratio'] = df['Credit_Utilization_Ratio'].astype(str)
df['Credit_Utilization_Ratio'] = df['Credit_Utilization_Ratio'].str.replace('_', '')
df['Credit_Utilization_Ratio'] = pd.to_numeric(df['Credit_Utilization_Ratio'], errors='coerce')
df['Credit_Utilization_Ratio'] = df['Credit_Utilization_Ratio'].fillna(method = 'pad').astype(float)

df['Credit_History_Age'] = df['Credit_History_Age'].astype(str)
df['Payment_of_Min_Amount'] = df['Payment_of_Min_Amount'].astype(str)

df['Total_EMI_per_month'] = df['Total_EMI_per_month'].astype(str)
df['Total_EMI_per_month'] = df['Total_EMI_per_month'].str.replace('_', '')
df['Total_EMI_per_month'] = pd.to_numeric(df['Total_EMI_per_month'], errors='coerce')
df['Total_EMI_per_month'] = df['Total_EMI_per_month'].fillna(method = 'pad').astype(float)

df['Amount_invested_monthly'] = df['Amount_invested_monthly'].astype(str)
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].str.replace('_', '')
df['Amount_invested_monthly'] = pd.to_numeric(df['Amount_invested_monthly'], errors='coerce')
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].fillna(method = 'pad').astype(float)

df['Payment_Behaviour'] = df['Payment_Behaviour'].astype(str)

df['Monthly_Balance'] = df['Monthly_Balance'].astype(str)
df['Monthly_Balance'] = df['Monthly_Balance'].str.replace('_', '')
df['Monthly_Balance'] = pd.to_numeric(df['Monthly_Balance'], errors='coerce')
df['Monthly_Balance'] = df['Monthly_Balance'].fillna(method = 'pad').astype(float)

df['Credit_Score'] = df['Credit_Score'].astype(str)

In [54]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                           int64
SSN                          object
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate               float64
Num_of_Loan                   int64
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment        int64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [80]:
def convert_to_months(age_str):
    if pd.isna(age_str):
        return None
    else:
        parts = age_str.split(' Years and ')
        if len(parts) == 2:
            years = int(parts[0])
            months_part = parts[1].split(' Months')
            if len(months_part) == 2:
                months = int(months_part[0])
                return years * 12 + months
            else:
                return None
        else:
            return None
# Zastosowanie funkcji do kolumny 'Credit_History_Age'
df['Credit_History_Age'] = df['Credit_History_Age'].apply(convert_to_months)

In [83]:
df['Credit_History_Age']

0        265
1        265
2        267
3        268
4        269
        ...
99995    378
99996    379
99997    380
99998    381
99999    382
Name: Credit_History_Age, Length: 100000, dtype: int64

In [82]:
df['Credit_History_Age'] = df['Credit_History_Age'].fillna(method = 'pad').astype(int)

In [84]:
Q1 = df.Annual_Income.quantile(0.25)
Q3 = df.Annual_Income.quantile(0.75)
IQR = Q3 - Q1

In [85]:
df = df.drop(df.loc[df['Annual_Income']> (Q3 + 1.5 * IQR)].index)
df = df.drop(df.loc[df['Annual_Income']< (Q1 - 1.5 * IQR)].index)

In [88]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,12,19114.12,1824.843333,3,...,_,809.98,26.822620,265,No,49.574949,80.415295,3,312.494089,0
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,12,19114.12,1824.843333,3,...,Good,809.98,31.944960,265,No,49.574949,118.280222,4,284.629162,0
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,12,19114.12,1824.843333,3,...,Good,809.98,28.609352,267,No,49.574949,81.699521,5,331.209863,0
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,12,19114.12,1824.843333,3,...,Good,809.98,31.377862,268,No,49.574949,199.458074,6,223.451310,0
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,12,19114.12,1824.843333,3,...,Good,809.98,24.797347,269,No,49.574949,41.420153,2,341.489231,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,9,39628.99,3359.415833,4,...,_,502.38,34.663572,378,No,35.104023,60.971333,1,479.866228,1
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,9,39628.99,3359.415833,4,...,_,502.38,40.565631,379,No,35.104023,54.185950,2,496.651610,1
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,9,39628.99,3359.415833,4,...,Good,502.38,41.255522,380,No,35.104023,24.028477,1,516.809083,1
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,9,39628.99,3359.415833,4,...,Good,502.38,33.638208,381,No,35.104023,251.672582,4,319.164979,2
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,9,39628.99,3359.415833,4,...,Good,502.38,34.192463,382,No,35.104023,167.163865,0,393.673696,1

In [91]:
le = LabelEncoder()

# Wybieranie kolumn zawierających wartości kategorialne
columns_to_code = ['Occupation', 'Payment_Behaviour', 'Credit_Score','Credit_Mix']

df[columns_to_code] = df[columns_to_code].apply(LabelEncoder().fit_transform)

0         22 Years and 1 Months
1                           nan
2         22 Years and 3 Months
3         22 Years and 4 Months
4         22 Years and 5 Months
                  ...
99995     31 Years and 6 Months
99996     31 Years and 7 Months
99997     31 Years and 8 Months
99998     31 Years and 9 Months
99999    31 Years and 10 Months
Name: Credit_History_Age, Length: 98110, dtype: object