<a href="https://colab.research.google.com/github/kacperob/PUM/blob/main/pierwsze_zajecia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import math
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import train_test_split

In [72]:
df = pd.read_csv("train.csv")

<ipython-input-72-ef2ff63de291>:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

In [73]:
df.shape

(100000, 28)

In [74]:
df.drop_duplicates(subset="ID", inplace=True)

In [75]:
# Przekształcenie danych w poszczególnych kolumnach na określony typ
df['ID'] = df['ID'].astype(str)
df['Customer_ID'] = df['Customer_ID'].astype(str)
df['Month'] = df['Month'].astype(str)
df['Name'] = df['Name'].astype(str)

df['Age'] = df['Age'].astype(str)
df['Age'] = df['Age'].str.replace('_', '')
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Age'] = df['Age'].fillna(method = 'pad').astype(int)

df['SSN'] = df['SSN'].astype(str)
df['Occupation'] = df['Occupation'].astype(str)

df['Annual_Income'] = df['Annual_Income'].astype(str)
df['Annual_Income'] = df['Annual_Income'].str.replace('_', '')
df['Annual_Income'] = pd.to_numeric(df['Annual_Income'], errors='coerce')
df['Annual_Income'] = df['Annual_Income'].fillna(method = 'pad').astype(float)

df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].astype(str)
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].str.replace('_', '')
df['Monthly_Inhand_Salary'] = pd.to_numeric(df['Monthly_Inhand_Salary'], errors='coerce')
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].fillna(method = 'pad').astype(float)

df['Num_Bank_Accounts'] = df['Num_Bank_Accounts'].astype(str)
df['Num_Bank_Accounts'] = df['Num_Bank_Accounts'].str.replace('_', '')
df['Num_Bank_Accounts'] = pd.to_numeric(df['Num_Bank_Accounts'], errors='coerce')
df['Num_Bank_Accounts'] = df['Num_Bank_Accounts'].fillna(method = 'pad').astype(int)

df['Num_Credit_Card'] = df['Num_Credit_Card'].astype(str)
df['Num_Credit_Card'] = df['Num_Credit_Card'].str.replace('_', '')
df['Num_Credit_Card'] = df['Num_Credit_Card'].astype(int)

df['Interest_Rate'] = df['Interest_Rate'].astype(str)
df['Interest_Rate'] = df['Interest_Rate'].str.replace('_', '')
df['Interest_Rate'] = pd.to_numeric(df['Interest_Rate'], errors='coerce')
df['Interest_Rate'] = df['Interest_Rate'].fillna(method = 'pad').astype(float)

df['Num_of_Loan'] = df['Num_of_Loan'].astype(str)
df['Num_of_Loan'] = df['Num_of_Loan'].str.replace('_', '')
df['Num_of_Loan'] = pd.to_numeric(df['Num_of_Loan'], errors='coerce')
df['Num_of_Loan'] = df['Num_of_Loan'].fillna(method = 'pad').astype(int)

df['Type_of_Loan'] = df['Type_of_Loan'].astype(str)

df['Delay_from_due_date'] = df['Delay_from_due_date'].astype(str)
df['Delay_from_due_date'] = df['Delay_from_due_date'].str.replace('_', '')
df['Delay_from_due_date'] = pd.to_numeric(df['Delay_from_due_date'], errors='coerce')
df['Delay_from_due_date'] = df['Delay_from_due_date'].fillna(method = 'pad').astype(int)

df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].astype(str)
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].str.replace('_', '')
df['Num_of_Delayed_Payment'] = pd.to_numeric(df['Num_of_Delayed_Payment'], errors='coerce')
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].fillna(method = 'pad').astype(int)

df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].astype(str)
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].str.replace('_', '')
df['Changed_Credit_Limit'] = pd.to_numeric(df['Changed_Credit_Limit'], errors='coerce')
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].fillna(method = 'pad').astype(float)


df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].astype(str)
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].str.replace('_', '')
df['Num_Credit_Inquiries'] = pd.to_numeric(df['Num_Credit_Inquiries'], errors='coerce')
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].fillna(method = 'pad').astype(float)

df['Credit_Mix'] = df['Credit_Mix'].astype(str)

df['Outstanding_Debt'] = df['Outstanding_Debt'].astype(str)
df['Outstanding_Debt'] = df['Outstanding_Debt'].str.replace('_', '')
df['Outstanding_Debt'] = pd.to_numeric(df['Outstanding_Debt'], errors='coerce')
df['Outstanding_Debt'] = df['Outstanding_Debt'].fillna(method = 'pad').astype(float)

df['Credit_Utilization_Ratio'] = df['Credit_Utilization_Ratio'].astype(str)
df['Credit_Utilization_Ratio'] = df['Credit_Utilization_Ratio'].str.replace('_', '')
df['Credit_Utilization_Ratio'] = pd.to_numeric(df['Credit_Utilization_Ratio'], errors='coerce')
df['Credit_Utilization_Ratio'] = df['Credit_Utilization_Ratio'].fillna(method = 'pad').astype(float)

df['Credit_History_Age'] = df['Credit_History_Age'].astype(str)
df['Payment_of_Min_Amount'] = df['Payment_of_Min_Amount'].astype(str)

df['Total_EMI_per_month'] = df['Total_EMI_per_month'].astype(str)
df['Total_EMI_per_month'] = df['Total_EMI_per_month'].str.replace('_', '')
df['Total_EMI_per_month'] = pd.to_numeric(df['Total_EMI_per_month'], errors='coerce')
df['Total_EMI_per_month'] = df['Total_EMI_per_month'].fillna(method = 'pad').astype(float)

df['Amount_invested_monthly'] = df['Amount_invested_monthly'].astype(str)
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].str.replace('_', '')
df['Amount_invested_monthly'] = pd.to_numeric(df['Amount_invested_monthly'], errors='coerce')
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].fillna(method = 'pad').astype(float)

df['Payment_Behaviour'] = df['Payment_Behaviour'].astype(str)

df['Monthly_Balance'] = df['Monthly_Balance'].astype(str)
df['Monthly_Balance'] = df['Monthly_Balance'].str.replace('_', '')
df['Monthly_Balance'] = pd.to_numeric(df['Monthly_Balance'], errors='coerce')
df['Monthly_Balance'] = df['Monthly_Balance'].fillna(method = 'pad').astype(float)

df['Credit_Score'] = df['Credit_Score'].astype(str)

In [76]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                           int64
SSN                          object
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate               float64
Num_of_Loan                   int64
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment        int64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [80]:
df = df.drop(df[df['Age'] > 100].index)
df['Age'] = df['Age'].fillna(method = 'pad')

In [82]:

le = LabelEncoder()

columns_to_code = ['Occupation', 'Annual_Income', 'Monthly_Balance', 'Payment_Behaviour', "Credit_Score"]

df[columns_to_code] = df[columns_to_code].apply(LabelEncoder().fit_transform)