<a href="https://colab.research.google.com/github/kacperob/PUM/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("train.csv")

<ipython-input-16-ef2ff63de291>:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

In [ ]:
df.shape

(100000, 28)

In [ ]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [ ]:
# Usuń "_" z kolumny "Age"
df["Age"] = df["Age"].str.replace('_', '')

# Teraz przekonwertuj kolumnę "Age" na typ liczbowy
df["Age"] = pd.to_numeric(df["Age"])

In [ ]:
df[['Age', 'Annual_Income', 'Num_Bank_Accounts']] = df[['Age', 'Annual_Income', 'Num_Bank_Accounts']].applymap(lambda x: str(x).replace('_', ''))

In [ ]:

df[['Age', 'Annual_Income', 'Num_Bank_Accounts']] = df[['Age', 'Annual_Income', 'Num_Bank_Accounts']].apply(lambda x: pd.to_numeric(x, errors='coerce'))

In [ ]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                           int64
SSN                          object
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                   int64
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [ ]:
df["Changed_Credit_Limit"] = df["Changed_Credit_Limit"].str.replace('_', '')

In [ ]:
df["Changed_Credit_Limit"] = pd.to_numeric(df["Changed_Credit_Limit"])

In [ ]:
df["Num_of_Delayed_Payment"] =  df["Num_of_Delayed_Payment"].str.replace('_', '')

In [ ]:
df["Num_of_Delayed_Payment"] = pd.to_numeric(df["Num_of_Delayed_Payment"])

In [ ]:
df["Num_of_Loan"] = df["Num_of_Loan"].str.replace('_', '')

In [ ]:
df["Num_of_Loan"] = pd.to_numeric(df["Num_of_Loan"])

In [ ]:
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].fillna(method = 'pad')

In [ ]:
df['Annual_Income'] = df['Annual_Income'].fillna(method = 'pad')

In [ ]:
df['Age'] = df['Age'].clip(lower=0)

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

AttributeError: 'DataFrame' object has no attribute 'df'